# Configuração da chave de credencias do rails
RAILS_MASTER_KEY=

# Configurações do banco de dados (Para criação dos containers)
POSTGRES_USERNAME=
POSTGRES_PASSWORD=

# Configuração de acesso ao banco de dados
# Quando for testar a build do projeto em ambientes locais, lembre que você deve colocar o nome do service em ver de localhost
DATABASE_URL=
REDIS_URL=