# Chave de acessso ao arquivo de credencias do rails, solicite a equipe a chave para que a aplicação funcione
RAILS_MASTER_KEY=

# Configurações do banco de dados do lado do docker
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password

# Configurações do banco de dados do lado da aplicação
DATABASE_URL=postgresql://postgres:password@localhost:5432
REDIS_URL=redis://redis:6379/0
